<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Team</title>
</head>
<body>

  <form method="POST" action="/team/create">
    <label for="slug">Team ID Slug</label>
    <input id="slug" type="text" name="slug"/>

    <label for="teamname">Team Name</label>
    <input id="teamname" type="text" name="teamname"/>

    <label for="league">League</label>
    <input id="league" type="text" name="league"/>
    <button>Add</button>
  </form>

</body>
</html>