<nav>
  <ul>
    <!-- <li><a href="/courses">Courses</a></li> -->
    <!-- <li><a href="/workoutcomes">Work Outcomes</a></li> -->
    <!-- <li><a href="/learningcomes">Learning Outcomes</a></li> -->
    <li><a href="/">Home</a></li>
    <li><a href="/days">Days</a></li>
    <!-- <li><a href="/tags">Tags</a></li> -->
    <li><a href="/objectives/browse">Browse</a></li>
    <li><a href="/cycle">Cycle</a></li>
    <!-- <li><a href="/curricula">Curricula</a></li> -->
    <!-- <li><a href="/profile">Profile</a></li> -->
  </ul>
</nav>
