// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$border-color: maroon;
$coffee: #bada55;

.location {
  padding: 20px;
  border: 2px dotted $border-color;
  border-radius: 15px;
  margin-bottom: 10px;
}
