<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SPOT: Lighthouse Labs Learning Outcomes</title>
  <%- include('include/_head.ejs') %>
</head>
<body>
  <%- include('./include/_header',profile) %>

<%= JSON.stringify(profile) %>

</body>
</html>