<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tags</title>
  <%- include('include/_head.ejs') %>
</head>
<body>
  <%- include('include/_header.ejs') %>
  <h2>Tags</h2>
  <table>
  <colgroup>
    <col style="width:20%">
    <col style="width:30%">
    <!-- <col style="width:45%">
    <col style="width:15%"> -->
  </colgroup>
  <tbody>
  <tr>
    <!-- <th>id</th> -->
    <th>Name</th>
    <th>Actions</th>
    <!-- <th>question</th>
    <th>answer</th>
    <th>Feedback<br/>confused:fair:excellent</th> -->
  </tr>
  <% for(var i=0; i < tags.length; i++) { %>
    <tr id="tag_<%= tags[i].id %>">
      <td><%= tags[i].name %></td>
    </tr>
  <% } %>
  </tbody>
</table>

</body>
</html>
