<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <a href="/about">About page</a>

  <div>
    <a href="/languages/en">en</a>
    <a href="/languages/ja">ja</a>
    <a href="/languages/ko">ko</a>
    <a href="/languages/es">es</a>
    <a href="/languages/fr">fr</a>
    <a href="/languages/so">so</a>
  </div>

  <h2><%= heading %></h2>
  <h3><%= body %></h3>
</body>
</html>
